
* {
  box-sizing: border-box;
}


.topNav{
  display: flex;
  flex-wrap:wrap;
  flex-direction:row;
  align-items: center;
  height: 55px;
  overflow: auto;
  justify-content: space-between;
  background-color: black;

}

 
button{
   background-color:skyblue;
   color:white;
 }

 body {
  background-color:rgb(228, 222, 222);
  color:white;
} 

.bothContainers{
  display: flex;
  flex-wrap:wrap;
  flex-direction:row;
  align-items: center;
  margin-top: 100px;
  margin-left: 200px ;
  overflow: auto; 
}
  
#id1 {
  color:black;
  font-family:Poppins;
  font-style:normal;
  font-weight: normal;
  font-size:24px;
  line-height:36px;
}

#id2 {
  color:black;
  font-family:Poppins;
  font-style:normal;
  font-weight: normal;
  font-size:18px;
  line-height:27px;
  margin-top :28px; 
}

#admin{
  color:white;
  font-family:Poppins;
  font-style:normal;
  font-weight:600;
  font-size:24px;
  line-height:36px;
  text-align: center; 
  margin-top: 20px;
}

.containerOne{
  display: flex;
  flex-direction:column;
  align-items: center;
 }


.firstItemRight,#id2{
  float:right; 
  margin-right: 20px;

}
.firstItemRight,#id1{
  float:left; 

} 
   #id1{
  margin-left: 20px;
 }  

 #first,#second,#third,#fourth{
   margin-top: 20px;
   margin-left: 35px;
 }
 
 #remove{
   width:min-content;
   height:min-content;
   

 }  

 h2{ 
  margin-top:-35px; 
 
   text-align: center;
 }


.firstItemLeft{
  display: flex;
  flex-direction:row;
  align-content:center;
  justify-content: space-between;
  height: 110px;
  margin-bottom:30px;   
  background-color: rgb(207, 112, 80);
  width: 300px;
 
 
}

.secondItemLeft{
  display: flex;
  flex-direction: column;
  height: 700px;
  margin-bottom:30px;
  background-color: rgb(158, 155, 155);
  width:300px;
  display:ruby-text-container;
  }



.containerTwo{
  display: flex;
  flex-wrap:wrap;
  flex-direction:column;
  align-items: center; 
 }


.firstItemRight{

  display: inline-flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  height: 110px;
  margin-bottom:30px;
  background-color:white;
  width: 800px;
  }


 


  .rightItemContent{
    display: flex;
    flex-direction: row;
    height: 300px;
    margin-bottom:30px; 
    background-color:rgb(228, 222, 222);
    width: 800px;
    color:black;  
    justify-content:left; 
  }

   .thirdRightItem{
    display: flex;
    height: 400px;
    width: 800px;
    margin-bottom:0px;  
    background-color: white;
  }

 
 .redcolor{
  color:red;
  margin-left: 30px; 

  }
  span{
    color:red
  }


.rectangle {
  height: 100px;
  width: 10px;
  background-color:orange;
  padding: 10px;
  border-radius: 25px;
  display: inline-block;
  margin-left: 40px; 
}
  
.rectangle2{
  height: 190px;
  width: 10px;
  background-color:green;
  padding: 10px;
  border-radius: 25px;
  display: inline-block;  
}
  
.rectangle3{
  height: 10px;
  width: 3px;
  background-color:red;
  padding: 10px;
  border-radius: 25px;
  display: inline-block;
}

.verticalLine {
  border-left: 1px solid grey;
  height: 220px;
  margin-left: -40px;
  margin-top: 18px;
  display:-webkit-inline-box;
  
}
.rectangleContainer {
  width: 70%;
  margin-left: 60px;
  
  
}
.cellContainer {
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  font-family:Poppins;
  font-style:normal;
  font-weight: 300;
  font-size:18px;
  line-height: 27px;
  margin-left: -60px;  
 }

 .threeRectangles{
  display: flex;
  display:inline-block; 
  justify-content:space-around;
} 

.solid{
  border-top: 2px solid #bbb;
  color:rgb(34, 33, 33);
  margin-left: -40px;
  }


img { max-width: 100%; height: auto; }

@media screen and (max-width: 600px) {

  .topNav{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60px;
  }

    body {
    background-color: rgb(226, 226, 169);
  }

  #admin {
    font-size: 15px;
    padding: 12px;
   
}
  .secondItemLeft{
   font-size:12px ;
}

containerOne{
  
}

.containerTwo{
  align-self: center;
}

.firstItemLeft{
  height: 70px;
}

#remove{
  width: 22px;
  height:22px;
}

.secondItemLeft{
  height: 270px; 
}

.firstItemRight{
  height: 70px;
  justify-content;
  flex-direction: row;
  align-items:flex-start;
  justify-content:left;
  width: 400px;
 
  
  
  
  font-size: 5px;
  background-color: rgb(235, 235, 199);

}

.bothContainers{

  margin-top: 40px;
  margin-left:40px ;


}
.rightItemContent{

  display: flex;
    flex-direction:row;
    height: 300px;
    margin-bottom:30px; 
    background-color:rgb(228, 222, 222);
    width: 800px;
    color:black;  
    justify-content:left; 
    width:400px;


}

.containerTwo{
 display: flex;
 flex-direction: column;
 align-items: stretch;
 

}

.thirdRightItem{
  display:none;
}
    
 }

 







 










 




 
 